body {
    font-family: monospace, arial, serif;
    
  }
  
    
  .container {
    background: linear-gradient(360deg, #01a99c 10%, #0698b1 360%); 
    max-inline-size: 600px;
    margin: 10px auto;
    border-radius: 15px; 
    border: 4mm ridge rgb(60, 230, 159);
  }
  
  li {
    list-style: none;
    font-weight: bold;
  }

  #cityName {
      font-size: 32px;
      font-weight: bold;
      display: block;
      text-align: center;
  }

  
  .overview {
    margin-block-end: 0%;
    display: inline;
    text-align: center;
    row-gap: 0px;
    padding-block-start: 0px;
    margin: 0;
  }

  
  p {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    display: block;
    padding-block-start: 2px;
    margin: 0px;
  }
  
  
  .border {
    border: 20%;
    border-block-color: grey;
  }
  
  .btn-primary {
    background-color: white;
    padding: 5px;
    margin-block-start: 10px;
    margin-inline-start: 0px;
  }                         
  
  .btn-primary:hover {
    font-size: 13px;
    padding: 7px 15px;
  }

 
  #searchForm {
    font-size: 20px;
    margin-block-start: 10px;
    margin-inline-end: 0px;
    padding: 5px 30px 10px;

  }
  

  #searchForm:hover {
    font-size: 13px;
    padding: 7px 15px;
  }

  
  #tempC, 
  #tempf {
  font-size: 18px;
  transition: all 150ms ease-in-out;
  inset-block-start: 5px;
  margin-block-start: -50px;
  cursor: default;
}


.currentDisplay {
  margin-block-start: -20px;
  display: block;
  text-align: center;
  text-transform: capitalize;
}


#description {
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  letter-spacing: 1px;
  text-align: center;
}


#rowDetails {
  margin-block-start: 20px;
  margin-inline-start: -10px;
  margin-inline-end: -10px;
  font-size: 14px;
  box-sizing: border-box;
  border-radius: 10px;
  line-height: 0.5px;
  text-align: center;
}

#wind,
#humidity {
  margin-inline-end: -50px;
  margin-inline-start: 70px;
}

  #windIcon {
  max-inline-size: 35px;
  inline-size: 30px;
  margin-inline-start: 30px;
 padding-inline-end: 10px;
  }

  #humidityIcon {
  max-inline-size: 35px;
  inline-size: 50px;
  margin-inline-start: 30px;
  
  }
  
strong {
  font-size: 58px;
  font-weight: 400;
}

  #icon {
    max-inline-size: 300px;
    text-align: center;
    display: block;
    margin-inline-start: 220px; 
    margin-inline-end: 100px;
  
  }

  .footer {
    margin-inline-start: 20px;
    writing-mode: horizontal-tb;
  }

  .units {
    position: relative;
    font-size: 16px;
    inset-block-start: -34px;
    margin-inline-end: 90px; 
  }
  
  .active {
    color: white;
    cursor: default
  }

  .active:hover {
    text-decoration: none;
  }